<a href="https://colab.research.google.com/github/Keith-Aguilar/58002-OOP/blob/main/Operations_and_Expressions_in_Pyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

boolean operators

In [ ]:

print(10>9)
print(10<9)

In [4]:
a = 10
b = 9
print(a>b)
print(a<b)
print(a==b)
print(b==b)

True
False
False
True

BooL () Function

In [6]:
print(bool(1))
print(bool("Ana"))
print(bool(2))
print(bool(0))
print(bool(None))

True
True
True
False
False

Functiona can return Boolean

In [10]:
def myfunction():
  return False

print(myfunction())

False

In [24]:
def myfuncton():
  return True
if myfunction():
  print("Yes")
else:
  print("No")

No

In [26]:
print(10>9)

a=6
b=7
print(a==b)
print(a!=b)

True
False
True

In [30]:
print(10%5)
print(10//3)
print(10**2)

0
3
100

Pyton operators

In [33]:
print(10+5)
print(10-5)
print(10*5)
print(10**5)
print(10/5)
print(10//5)
print(10%5)

15
5
50
100000
2.0
2
0

In [40]:
a  =60
b  =13
a>>1

30

Pyton assignment operators

In [51]:
x =1
x+=3 #same as x = x+3
print(x)
x =1 
x-=3
print(x)
x =1
x*=3
print(x)
x =1
x%=3
print(x)

4
-2
3
1

Logical operators

In [53]:
x = True
y = False

In [54]:
print(x and  y)
print(x or y)
print(not(x or y))

False
True
False

Identity operators

In [57]:
print (x is y)
print (x is not y)

False
True