<a href="https://colab.research.google.com/github/Keith-Aguilar/58002-OOP/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

loop statement

In [40]:
week = ["sunday", "Monday", "Tuesday", "wednsday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

sunday
Monday
Tuesday
wednsday
Thursday
Friday
Saturday

for loop through string

In [24]:
for x in "week":
 print(x)

w
e
e
k

In [56]:
for x in "week":
  if x =="Thurday":
    break
    print(x)

to display only thursday

In [54]:
for x in week:
  if x  == "thursday":
   print(x)
   break

Range() Function

In [45]:
for x in range (6):
  print(x)

0
1
2
3
4
5

In [50]:
for x in range (2,6):
 print(x)

2
3
4
5

In [53]:
for x in range (2,6+1,2):
 print(x)

2
4
6

Nested loop

In [73]:
adjective = ["red", "Big", "Tasty"]
fruits = ["apple", "Banana", "Cherry"]

for x in adjective:
  for y in fruits:
    print(x,y)

red apple
red Banana
red Cherry
Big apple
Big Banana
Big Cherry
Tasty apple
Tasty Banana
Tasty Cherry

whuile loop

In [85]:
i = 1
while i<=6:
 print(i)
  i+=1

IndentationError: ignored

while loop using break statement

In [82]:
i = 1
print(i)
if i == 3:
  break

1

SyntaxError: ignored

display only 3

In [96]:
i =  1
while 1<=6:
 if i == 3:
  print(i)
  break
  1+=1

IndentationError: ignored

In [90]:
adjective = ["Hello"]


for x in adjective:
  for y in range(11):
    print(x,y)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

lets try

In [99]:
adjective = ["Hello"]


for x in adjective:
  for y in range(-3,10):
    print(x,y)

Hello -3
Hello -2
Hello -1
Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9